.git
.env
out
node_modules
**/node_modules
**/dist
teacherdesk_mobile/build
teacherdesk_mobile/.dart_tool
teacherdesk_mobile/.flutter-plugins
teacherdesk_mobile/.flutter-plugins-dependencies
teacherdesk_mobile/.packages
teacherdesk_mobile/.pub-cache
teacherdesk_mobile/.pub
.temp/gurukul-ai-community/apps/api/dist
.temp/gurukul-ai-community/apps/web/.next
.temp
teacherdesk_mobile
src
public
public-demo
scripts
